# Project: Wrangling and Analyze Data
#### Arnd-Olav Feindt
---

## Table of contents <a class="anchor" id="Tableofcontents"></a>

- [Data Gathering](#DataGathering)
- [Assessing Data](#AssessingData)
  - [Table overview](#Tableoverview)
  - [All found issues](#Allfoundissues)
  - [Quality issues](#Qualityissues)
  - [Tidiness issues](#Tidinessissues)
- [Cleaning Data](#CleaningData)
- [Storing Data](#StoringData)
- [Analyzing and Visualizing Data](#AnalyzingandVisualizingData)
  - [Visualization](#Visualization)
  - [Insights:](#Insights)
  
---

## Data Gathering <a class="anchor" id="DataGathering"></a>
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import os
import requests
import tweepy
import json
from timeit import default_timer as timer
from pandas.api.types import is_numeric_dtype
from pandas.api.types import is_object_dtype
from IPython.display import display, Markdown  # To write (have) code and markdown in the same cell

In [2]:
# Load csv into dataframe
wrd_archive = pd.read_csv('twitter-archive-enhanced.csv')

# View head of dataframe
wrd_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [3]:
# Fetch tsv file from Udactiy server
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open(url.split('/')[-1], mode='wb') as file:
    file.write(response.content)
    
# Load downloaded tsv file into dataframe
wrd_image_prediction = pd.read_csv('image-predictions.tsv', sep = '\t')

# View head of dataframe
wrd_image_prediction.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [4]:
# Fetch the data from Twitter if you haven't done it already... because it can take 20 - 30 minutes
file_name = 'tweet_json.txt'
if not os.path.isfile(file_name):
    
    consumer_key = 'jK#######################JQ'
    consumer_secret = 'QZ#######################MX'
    access_token = '62#######################oJ'
    access_secret = 'Gr#######################nZ'

    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)

    api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

    # Getting tweet details for a single tweet_id from the twitter archive
    tweet = api.get_status(	892420643555336193, tweet_mode = 'extended' )

    # Viewing the json data
    tweet._json

    # Verifying the presence of retweet count of tweet_id in json data
    tweet._json['retweet_count']

    # Verifying the presence of favorite count of tweet_id in json data
    tweet._json['favorite_count']

    # Creating file
    open(file_name, 'w').close()

    # Query Twitter's API for JSON data for each tweet ID in the Twitter archive & writing twitter json data to tweet_json.txt file
    tweet_id_errors = {}
    count = 0
    start = timer()
    with open(file_name, mode = 'w') as file:
        for tweet_id in wrd_archive.tweet_id:
            try:
                tweet = api.get_status(tweet_id, tweet_mode='extended')
                file.write(json.dumps(tweet._json) + '\n')
                print(str(count) + '_' + str(tweet_id))
                count +=1
            except Exception as e:
                print(str(count) + '_' + str(tweet_id) + str(e))
                tweet_id_errors[str(count) + '_' + str(tweet_id)] = tweet._json
                count +=1
    end = timer()
    print('Elapsed Time:' + str(end-start))

In [5]:
# Reading twitter json data from tweet_json.txt file by converting each json string into python dictionary
# and appending them to a list (row by row) and this list of dictionaries will eventually be converted to a pandas DataFrame 

df_list = []
with open('tweet_json.txt', mode = 'r') as file:
    for row in file.readlines():
        tweet_dict = json.loads(row)
        retweet_count = tweet_dict['retweet_count']
        favorite_count = tweet_dict['favorite_count']
        tweet_id = tweet_dict['id']
        df_list.append({'tweet_id': tweet_id, 
                        'retweet_count': retweet_count, 
                        'favorite_count': favorite_count})  

# Creating DataFrame from list of dictionaries
wrd_archive_add = pd.DataFrame(df_list, columns = ['tweet_id', 'retweet_count', 'favorite_count'])

# Top five rows of dataframe
wrd_archive_add.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           6975           33711
1  892177421306343426           5276           29231
2  891815181378084864           3465           21982
3  891689557279858688           7196           36804
4  891327558926688256           7721           35192

[top](#Tableofcontents)

## Assessing Data <a class="anchor" id="AssessingData"></a>
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [6]:
def visual(dataframe, string_name):
    display(Markdown("##### A. Head from " + string_name))
    print(dataframe.head())
    display(Markdown("##### B. Tail from " + string_name))
    print(dataframe.tail())
    display(Markdown("##### C. Sample of 25 rows from " + string_name))
    df_elements = dataframe.sample(n=25)
    print(df_elements.head(25))

In [18]:
def programmatic(dataframe, string_name):
    display(Markdown(f"##### D. Shape from {string_name}:"))
    print('')
    print(dataframe.shape)
    display(Markdown(f"##### E. Info from {string_name}:"))
    print('')

    print(dataframe.info())
    display(Markdown(f"##### F. isnull sum from {string_name}:"))
    print('')
    print(dataframe.isnull().sum())
    display(Markdown(f"##### G. Duplicates from {string_name}:"))
    print('')
    print(sum(dataframe.duplicated()))
    display(Markdown(f"##### H. Describe from {string_name}:"))
    print('')
    print(dataframe.describe())
    display(Markdown(f"##### I. Nunique from {string_name}:"))
    print('')
    print(dataframe.nunique())

    display(Markdown(f"##### J. Duplicates per column from {string_name}:"))
    for i, col in zip(dataframe.dtypes, dataframe):
        print('')
        print(
            f"Sum of duplicates in {col} = "
            + str(sum(dataframe[col].duplicated()))
            + f"({i})"
        )

    display(Markdown(f"##### K. Sorted numeric values per column in {string_name}:"))
    for i, col in zip(dataframe.dtypes, dataframe):
        print('')
        print(f"Sorted numeric values per column in {col}")

        if is_numeric_dtype(
            dataframe[col]
        ):
            print(np.sort(dataframe[col].unique()))
        else:
            print(col + " is not numeric")

    display(Markdown(f"##### L. Check which column is object type from {string_name}:"))
    for i, col in zip(dataframe.dtypes, dataframe):
        print('')
        if is_object_dtype(dataframe[col]):
            print(str(col), 'is', str(i))
        else:
            print(str(col), 'is not')

    display(Markdown(f"##### M. Count different values per column from {string_name}:"))
    
    for i, col in zip(dataframe.dtypes, dataframe):
        print('')
        print(str(col))
        print(dataframe[col].value_counts())
        print('')

In [19]:
dfs = {'wrd_archive' : wrd_archive,
       'wrd_image_prediction' : wrd_image_prediction,
       'wrd_archive_add':wrd_archive_add
      }
print('__________________________')

for k, v in dfs.items():
    display(Markdown(f'### {k} - Visual assessment'))
    visual(v, k)
    display(Markdown(f'### {k} - Programmatic assessment'))
    programmatic(v, k)
    print ('')

__________________________

### wrd_archive - Visual assessment

##### A. Head from wrd_archive

             tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
0  892420643555336193                    NaN                  NaN
1  892177421306343426                    NaN                  NaN
2  891815181378084864                    NaN                  NaN
3  891689557279858688                    NaN                  NaN
4  891327558926688256                    NaN                  NaN

                   timestamp  \
0  2017-08-01 16:23:56 +0000
1  2017-08-01 00:17:27 +0000
2  2017-07-31 00:18:03 +0000
3  2017-07-30 15:58:51 +0000
4  2017-07-29 16:00:24 +0000

                                              source  \
0  <a href="http://twitter.com/download/iphone" r...
1  <a href="http://twitter.com/download/iphone" r...
2  <a href="http://twitter.com/download/iphone" r...
3  <a href="http://twitter.com/download/iphone" r...
4  <a href="http://twitter.com/download/iphone" r...

                                                text  retweeted_status_id  \
0  This is Phineas. He's a mystical boy. Only eve...                  NaN
1  This is Tilly. She's just checking pup on you....                  NaN
2  This is Archie. He is a rare Norwegian Pouncin...                  NaN
3  This is Darla. She commenced a snooze mid meal...                  NaN
4  This is Franklin. He would like you to stop ca...                  NaN

   retweeted_status_user_id retweeted_status_timestamp  \
0                       NaN                        NaN
1                       NaN                        NaN
2                       NaN                        NaN
3                       NaN                        NaN
4                       NaN                        NaN

                                       expanded_urls  rating_numerator  \
0  https://twitter.com/dog_rates/status/892420643...                13
1  https://twitter.com/dog_rates/status/892177421...                13
2  https://twitter.com/dog_rates/status/891815181...                12
3  https://twitter.com/dog_rates/status/891689557...                13
4  https://twitter.com/dog_rates/status/891327558...                12

   rating_denominator      name doggo floofer pupper puppo
0                  10   Phineas  None    None   None  None
1                  10     Tilly  None    None   None  None
2                  10    Archie  None    None   None  None
3                  10     Darla  None    None   None  None
4                  10  Franklin  None    None   None  None

##### B. Tail from wrd_archive

                tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
2351  666049248165822465                    NaN                  NaN
2352  666044226329800704                    NaN                  NaN
2353  666033412701032449                    NaN                  NaN
2354  666029285002620928                    NaN                  NaN
2355  666020888022790149                    NaN                  NaN

                      timestamp  \
2351  2015-11-16 00:24:50 +0000
2352  2015-11-16 00:04:52 +0000
2353  2015-11-15 23:21:54 +0000
2354  2015-11-15 23:05:30 +0000
2355  2015-11-15 22:32:08 +0000

                                                 source  \
2351  <a href="http://twitter.com/download/iphone" r...
2352  <a href="http://twitter.com/download/iphone" r...
2353  <a href="http://twitter.com/download/iphone" r...
2354  <a href="http://twitter.com/download/iphone" r...
2355  <a href="http://twitter.com/download/iphone" r...

                                                   text  retweeted_status_id  \
2351  Here we have a 1949 1st generation vulpix. Enj...                  NaN
2352  This is a purebred Piers Morgan. Loves to Netf...                  NaN
2353  Here is a very happy pup. Big fan of well-main...                  NaN
2354  This is a western brown Mitsubishi terrier. Up...                  NaN
2355  Here we have a Japanese Irish Setter. Lost eye...                  NaN

      retweeted_status_user_id retweeted_status_timestamp  \
2351                       NaN                        NaN
2352                       NaN                        NaN
2353                       NaN                        NaN
2354                       NaN                        NaN
2355                       NaN                        NaN

                                          expanded_urls  rating_numerator  \
2351  https://twitter.com/dog_rates/status/666049248...                 5
2352  https://twitter.com/dog_rates/status/666044226...                 6
2353  https://twitter.com/dog_rates/status/666033412...                 9
2354  https://twitter.com/dog_rates/status/666029285...                 7
2355  https://twitter.com/dog_rates/status/666020888...                 8

      rating_denominator  name doggo floofer pupper puppo
2351                  10  None  None    None   None  None
2352                  10     a  None    None   None  None
2353                  10     a  None    None   None  None
2354                  10     a  None    None   None  None
2355                  10  None  None    None   None  None

##### C. Sample of 25 rows from wrd_archive

                tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
517   810896069567610880                    NaN                  NaN
113   870726314365509632           8.707262e+17           16487760.0
1611  685325112850124800                    NaN                  NaN
1232  713175907180089344                    NaN                  NaN
634   793614319594401792                    NaN                  NaN
1409  699060279947165696                    NaN                  NaN
1063  741067306818797568                    NaN                  NaN
1112  733460102733135873                    NaN                  NaN
694   786729988674449408                    NaN                  NaN
316   834931633769889797                    NaN                  NaN
2184  668988183816871936                    NaN                  NaN
1263  710117014656950272                    NaN                  NaN
2071  671115716440031232                    NaN                  NaN
978   749996283729883136                    NaN                  NaN
511   811985624773361665                    NaN                  NaN
1787  677565715327688705                    NaN                  NaN
797   773191612633579521                    NaN                  NaN
865   762316489655476224                    NaN                  NaN
2052  671486386088865792                    NaN                  NaN
612   796904159865868288                    NaN                  NaN
2234  668190681446379520                    NaN                  NaN
219   850145622816686080                    NaN                  NaN
2120  670411370698022913                    NaN                  NaN
469   816829038950027264                    NaN                  NaN
1160  724004602748780546                    NaN                  NaN

                      timestamp  \
517   2016-12-19 17:14:23 +0000
113   2017-06-02 19:38:25 +0000
1611  2016-01-08 05:00:14 +0000
1232  2016-03-25 01:29:21 +0000
634   2016-11-02 00:42:53 +0000
1409  2016-02-15 02:38:53 +0000
1063  2016-06-10 00:39:48 +0000
1112  2016-05-20 00:51:30 +0000
694   2016-10-14 00:47:00 +0000
316   2017-02-24 01:03:08 +0000
2184  2015-11-24 03:03:06 +0000
1263  2016-03-16 14:54:24 +0000
2071  2015-11-29 23:57:10 +0000
978   2016-07-04 16:00:22 +0000
511   2016-12-22 17:23:53 +0000
1787  2015-12-17 19:07:09 +0000
797   2016-09-06 16:10:20 +0000
865   2016-08-07 15:56:28 +0000
2052  2015-12-01 00:30:04 +0000
612   2016-11-11 02:35:32 +0000
2234  2015-11-21 22:14:07 +0000
219   2017-04-07 00:38:06 +0000
2120  2015-11-28 01:18:21 +0000
469   2017-01-05 02:09:53 +0000
1160  2016-04-23 22:38:43 +0000

                                                 source  \
517   <a href="http://twitter.com/download/iphone" r...
113   <a href="http://twitter.com/download/iphone" r...
1611  <a href="http://twitter.com/download/iphone" r...
1232  <a href="http://twitter.com/download/iphone" r...
634   <a href="http://twitter.com/download/iphone" r...
1409  <a href="http://vine.co" rel="nofollow">Vine -...
1063  <a href="http://twitter.com/download/iphone" r...
1112  <a href="http://twitter.com/download/iphone" r...
694   <a href="http://twitter.com/download/iphone" r...
316   <a href="http://twitter.com/download/iphone" r...
2184  <a href="http://twitter.com/download/iphone" r...
1263  <a href="http://twitter.com/download/iphone" r...
2071  <a href="http://twitter.com/download/iphone" r...
978   <a href="https://about.twitter.com/products/tw...
511   <a href="http://twitter.com/download/iphone" r...
1787  <a href="http://twitter.com/download/iphone" r...
797   <a href="http://twitter.com/download/iphone" r...
865   <a href="http://twitter.com/download/iphone" r...
2052  <a href="http://twitter.com/download/iphone" r...
612   <a href="http://twitter.com/download/iphone" r...
2234  <a href="http://twitter.com/download/iphone" r...
219   <a href="http://twitter.com/download/iphone" r...
2120  <a href="http://twitter.com/download/iphone" r...
469   <a href="http://twitter.com/download/iphone" r...
1160  <a href="http://twitter.com/download/iphone" r...

                                                   text  retweeted_status_id  \
517   This is Hunter. He just found out he needs bra...                  NaN
113   @ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...                  NaN
1611  "Tristan do not speak to me with that kind of ...                  NaN
1232  Say hello to Opie and Clarkus. Clarkus fell as...                  NaN
634   RT @dog_rates: When she says you're a good boy...         7.916723e+17
1409  This is Yukon. He pukes rainbows. 12/10 magica...                  NaN
1063  This is just downright precious af. 12/10 for ...                  NaN
1112  This is Hermione. Her face is as old as time. ...                  NaN
694   RT @dog_rates: This is Oakley. He has no idea ...         7.594477e+17
316   This is Tucker. He decided it was time to part...                  NaN
2184  Honor to rate this dog. Lots of fur on him. Tw...                  NaN
1263  This pupper got her hair chalked for her birth...                  NaN
2071  Meet Phred. He isn't steering, looking at the ...                  NaN
978   This is Bo. He emanates happiness. 12/10 I cou...                  NaN
511   Say hello to Ted. He accidentally opened the f...                  NaN
1787  Contortionist pup here. Inside pentagram. Clea...                  NaN
797   This is Grey. He's the dogtor in charge of you...                  NaN
865   This is Scout. He specializes in mid-air freez...                  NaN
2052  This is Malcolm. He just saw a spider. 10/10 h...                  NaN
612   RT @dog_rates: This is Tyrone. He's a leaf wiz...         6.873173e+17
2234  This is Skittles. I would kidnap Skittles. Pin...                  NaN
219   This is Riley. He's making new friends. Jubila...                  NaN
2120  Meet Scooter. He's ready for his first day of ...                  NaN
469   RT @dog_rates: This is Betty. She's assisting ...         7.909461e+17
1160  This is Luther. He saw a ghost. Spooked af. 11...                  NaN

      retweeted_status_user_id retweeted_status_timestamp  \
517                        NaN                        NaN
113                        NaN                        NaN
1611                       NaN                        NaN
1232                       NaN                        NaN
634               4.196984e+09  2016-10-27 16:06:04 +0000
1409                       NaN                        NaN
1063                       NaN                        NaN
1112                       NaN                        NaN
694               4.196984e+09  2016-07-30 17:56:51 +0000
316                        NaN                        NaN
2184                       NaN                        NaN
1263                       NaN                        NaN
2071                       NaN                        NaN
978                        NaN                        NaN
511                        NaN                        NaN
1787                       NaN                        NaN
797                        NaN                        NaN
865                        NaN                        NaN
2052                       NaN                        NaN
612               4.196984e+09  2016-01-13 16:56:30 +0000
2234                       NaN                        NaN
219                        NaN                        NaN
2120                       NaN                        NaN
469               4.196984e+09  2016-10-25 16:00:09 +0000
1160                       NaN                        NaN

                                          expanded_urls  rating_numerator  \
517   https://twitter.com/dog_rates/status/810896069...                11
113                                                 NaN                10
1611  https://twitter.com/dog_rates/status/685325112...                10
1232  https://twitter.com/dog_rates/status/713175907...                10
634   https://twitter.com/dog_rates/status/791672322...                13
1409                      https://vine.co/v/inlmMHxtqDD                12
1063  https://twitter.com/dog_rates/status/741067306...                12
1112  https://twitter.com/dog_rates/status/733460102...                11
694   https://twitter.com/dog_rates/status/759447681...                11
316   https://twitter.com/dog_rates/status/834931633...                12
2184  https://twitter.com/dog_rates/status/668988183...                 7
1263  https://twitter.com/dog_rates/status/710117014...                11
2071  https://twitter.com/dog_rates/status/671115716...                 6
978   https://twitter.com/dog_rates/status/749996283...                12
511   https://twitter.com/dog_rates/status/811985624...                11
1787  https://twitter.com/dog_rates/status/677565715...                 6
797   https://twitter.com/dog_rates/status/773191612...                12
865   https://twitter.com/dog_rates/status/762316489...                11
2052  https://twitter.com/dog_rates/status/671486386...                10
612   https://twitter.com/dog_rates/status/687317306...                11
2234  https://twitter.com/dog_rates/status/668190681...                12
219   https://twitter.com/dog_rates/status/850145622...                11
2120  https://twitter.com/dog_rates/status/670411370...                12
469   https://twitter.com/dog_rates/status/790946055...                12
1160  https://twitter.com/dog_rates/status/724004602...                11

      rating_denominator      name  doggo floofer  pupper  puppo
517                   10    Hunter   None    None    None   None
113                   10      None   None    None    None   None
1611                  10      None   None    None    None   None
1232                  10      Opie   None    None    None   None
634                   10      None   None    None    None   None
1409                  10     Yukon   None    None    None   None
1063                  10      just  doggo    None  pupper   None
1112                  10  Hermione   None    None    None   None
694                   10    Oakley   None    None    None   None
316                   10    Tucker   None    None    None   None
2184                  10      None   None    None    None   None
1263                  10      None   None    None  pupper   None
2071                  10     Phred   None    None    None   None
978                   10        Bo   None    None    None   None
511                   10       Ted   None    None    None   None
1787                  10      None   None    None    None   None
797                   10      Grey   None    None    None   None
865                   10     Scout   None    None    None   None
2052                  10   Malcolm   None    None    None   None
612                   10    Tyrone   None    None    None   None
2234                  10  Skittles   None    None    None   None
219                   10     Riley   None    None    None   None
2120                  10   Scooter   None    None    None   None
469                   10     Betty   None    None    None  puppo
1160                  10    Luther   None    None  pupper   None

### wrd_archive - Programmatic assessment

##### D. Shape from wrd_archive:

(2356, 17)

##### E. Info from wrd_archive:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB
None

##### F. isnull sum from wrd_archive:

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

##### G. Duplicates from wrd_archive:

0

##### H. Describe from wrd_archive:

           tweet_id  in_reply_to_status_id  in_reply_to_user_id  \
count  2.356000e+03           7.800000e+01         7.800000e+01
mean   7.427716e+17           7.455079e+17         2.014171e+16
std    6.856705e+16           7.582492e+16         1.252797e+17
min    6.660209e+17           6.658147e+17         1.185634e+07
25%    6.783989e+17           6.757419e+17         3.086374e+08
50%    7.196279e+17           7.038708e+17         4.196984e+09
75%    7.993373e+17           8.257804e+17         4.196984e+09
max    8.924206e+17           8.862664e+17         8.405479e+17

       retweeted_status_id  retweeted_status_user_id  rating_numerator  \
count         1.810000e+02              1.810000e+02       2356.000000
mean          7.720400e+17              1.241698e+16         13.126486
std           6.236928e+16              9.599254e+16         45.876648
min           6.661041e+17              7.832140e+05          0.000000
25%           7.186315e+17              4.196984e+09         10.000000
50%           7.804657e+17              4.196984e+09         11.000000
75%           8.203146e+17              4.196984e+09         12.000000
max           8.874740e+17              7.874618e+17       1776.000000

       rating_denominator
count         2356.000000
mean            10.455433
std              6.745237
min              0.000000
25%             10.000000
50%             10.000000
75%             10.000000
max            170.000000

##### I. Nunique from wrd_archive:

tweet_id                      2356
in_reply_to_status_id           77
in_reply_to_user_id             31
timestamp                     2356
source                           4
text                          2356
retweeted_status_id            181
retweeted_status_user_id        25
retweeted_status_timestamp     181
expanded_urls                 2218
rating_numerator                40
rating_denominator              18
name                           957
doggo                            2
floofer                          2
pupper                           2
puppo                            2
dtype: int64

##### J. Duplicates per column from wrd_archive:

Sum of duplicates in tweet_id = 0(int64)

Sum of duplicates in in_reply_to_status_id = 2278(float64)

Sum of duplicates in in_reply_to_user_id = 2324(float64)

Sum of duplicates in timestamp = 0(object)

Sum of duplicates in source = 2352(object)

Sum of duplicates in text = 0(object)

Sum of duplicates in retweeted_status_id = 2174(float64)

Sum of duplicates in retweeted_status_user_id = 2330(float64)

Sum of duplicates in retweeted_status_timestamp = 2174(object)

Sum of duplicates in expanded_urls = 137(object)

Sum of duplicates in rating_numerator = 2316(int64)

Sum of duplicates in rating_denominator = 2338(int64)

Sum of duplicates in name = 1399(object)

Sum of duplicates in doggo = 2354(object)

Sum of duplicates in floofer = 2354(object)

Sum of duplicates in pupper = 2354(object)

Sum of duplicates in puppo = 2354(object)

##### K. Sorted numeric values per column in wrd_archive:

Sorted numeric values per column in tweet_id
[666020888022790149 666029285002620928 666033412701032449 ...
 891815181378084864 892177421306343426 892420643555336193]

Sorted numeric values per column in in_reply_to_status_id
[6.65814697e+17 6.67065536e+17 6.67152164e+17 6.67806455e+17
 6.68920717e+17 6.69354383e+17 6.70668383e+17 6.71544874e+17
 6.71561002e+17 6.71729907e+17 6.73715862e+17 6.74468881e+17
 6.74739953e+17 6.74752233e+17 6.74793399e+17 6.74999808e+17
 6.75349384e+17 6.75497103e+17 6.75707330e+17 6.75845657e+17
 6.76588346e+17 6.78021116e+17 6.81339449e+17 6.82788442e+17
 6.84222868e+17 6.84481075e+17 6.84959799e+17 6.85547936e+17
 6.86034025e+17 6.90341254e+17 6.91416866e+17 6.92041935e+17
 6.92417313e+17 6.93572216e+17 6.93642232e+17 6.96488711e+17
 7.03041950e+17 7.03255936e+17 7.04485745e+17 7.07980066e+17
 7.29113531e+17 7.33109485e+17 7.38411920e+17 7.46885919e+17
 7.47648654e+17 7.50180499e+17 7.59099524e+17 7.63865175e+17
 7.66711819e+17 7.72743019e+17 7.97123751e+17 8.00857954e+17
 8.01854331e+17 8.11627233e+17 8.13127252e+17 8.21152593e+17
 8.23326389e+17 8.26598365e+17 8.31903044e+17 8.32087548e+17
 8.35245984e+17 8.38085539e+17 8.38145499e+17 8.40698300e+17
 8.47606176e+17 8.48212112e+17 8.50328819e+17 8.55818117e+17
 8.55858536e+17 8.55861584e+17 8.56286004e+17 8.57156678e+17
 8.63425646e+17 8.70726203e+17 8.79553827e+17 8.81607037e+17
 8.86266357e+17            nan]

Sorted numeric values per column in in_reply_to_user_id
[1.18563420e+07 1.36157220e+07 1.58464070e+07 1.63746780e+07
 1.64877600e+07 2.06837240e+07 2.14356580e+07 2.19550580e+07
 2.62595760e+07 2.87854860e+07 2.91663050e+07 3.05820820e+07
 4.73844300e+07 7.75962000e+07 1.13211856e+08 1.80670967e+08
 1.94351775e+08 2.79280991e+08 2.91859009e+08 3.58972768e+08
 4.67036706e+08 1.19898851e+09 1.58285381e+09 2.28118160e+09
 2.31910820e+09 2.89413118e+09 3.10544075e+09 4.19698384e+09
 4.71729748e+09 7.30505014e+17 8.40547864e+17            nan]

Sorted numeric values per column in timestamp
timestamp is not numeric

Sorted numeric values per column in source
source is not numeric

Sorted numeric values per column in text
text is not numeric

Sorted numeric values per column in retweeted_status_id
[6.66104133e+17 6.67138270e+17 6.67152164e+17 6.67182792e+17
 6.67509364e+17 6.67548415e+17 6.67548696e+17 6.67866724e+17
 6.69000397e+17 6.70319131e+17 6.70444956e+17 6.71896809e+17
 6.73295269e+17 6.73320133e+17 6.74291837e+17 6.75354436e+17
 6.75501076e+17 6.76936542e+17 6.79062614e+17 6.79158374e+17
 6.79462823e+17 6.79828447e+17 6.80055456e+17 6.81523178e+17
 6.81694086e+17 6.82088079e+17 6.83391853e+17 6.83515932e+17
 6.84830983e+17 6.85325113e+17 6.87317306e+17 6.91416866e+17
 6.92417313e+17 6.94669722e+17 6.98195409e+17 7.00143752e+17
 7.00747789e+17 7.01214701e+17 7.03041950e+17 7.04761121e+17
 7.06904524e+17 7.07610949e+17 7.11694788e+17 7.11998280e+17
 7.12809026e+17 7.18631498e+17 7.25842289e+17 7.32005617e+17
 7.33109485e+17 7.36392552e+17 7.39238158e+17 7.39544079e+17
 7.39979192e+17 7.40373189e+17 7.40676976e+17 7.41067307e+17
 7.42423170e+17 7.46757706e+17 7.50429298e+17 7.50719633e+17
 7.52932433e+17 7.53039831e+17 7.53375669e+17 7.56288534e+17
 7.57597141e+17 7.58099636e+17 7.59447682e+17 7.59923799e+17
 7.60153833e+17 7.61004548e+17 7.61672994e+17 7.62464539e+17
 7.62699858e+17 7.63837566e+17 7.65222099e+17 7.67754930e+17
 7.68193405e+17 7.69940426e+17 7.71002130e+17 7.71380798e+17
 7.71770457e+17 7.73308824e+17 7.73547597e+17 7.74314404e+17
 7.75085133e+17 7.75733305e+17 7.76113306e+17 7.77684234e+17
 7.79056096e+17 7.79834333e+17 7.80465709e+17 7.80601304e+17
 7.80931614e+17 7.81524693e+17 7.82305868e+17 7.82722599e+17
 7.82969140e+17 7.83334640e+17 7.83839966e+17 7.84057940e+17
 7.84183166e+17 7.84826020e+17 7.86233965e+17 7.86709083e+17
 7.86963064e+17 7.88765915e+17 7.89530877e+17 7.89986466e+17
 7.90277117e+17 7.90946056e+17 7.91406956e+17 7.91672323e+17
 7.93286476e+17 7.93962222e+17 7.95076730e+17 7.96149749e+17
 8.00065028e+17 8.00141422e+17 8.00854023e+17 8.01167903e+17
 8.06629075e+17 8.07106841e+17 8.08344866e+17 8.09220051e+17
 8.09920764e+17 8.10254108e+17 8.15966073e+17 8.15990721e+17
 8.16450571e+17 8.17423860e+17 8.17827839e+17 8.19004803e+17
 8.19006401e+17 8.19227688e+17 8.19952236e+17 8.20314634e+17
 8.20749717e+17 8.22244817e+17 8.22489057e+17 8.25026591e+17
 8.26958653e+17 8.29374342e+17 8.29501995e+17 8.30583321e+17
 8.31650052e+17 8.32369877e+17 8.32434358e+17 8.32766382e+17
 8.33124695e+17 8.35264099e+17 8.36648149e+17 8.37011345e+17
 8.37820168e+17 8.38905981e+17 8.39289919e+17 8.39549326e+17
 8.40632337e+17 8.41077006e+17 8.42163533e+17 8.44704788e+17
 8.47971000e+17 8.48289382e+17 8.55122533e+17 8.56330159e+17
 8.57061112e+17 8.59196979e+17 8.60563773e+17 8.60914485e+17
 8.63062472e+17 8.65013420e+17 8.66334965e+17 8.66450706e+17
 8.68552279e+17 8.68880398e+17 8.72657584e+17 8.73213776e+17
 8.76850772e+17 8.78057613e+17 8.78281511e+17 8.86053734e+17
 8.87473957e+17            nan]

Sorted numeric values per column in retweeted_status_user_id
[7.83214000e+05 1.96074000e+07 2.48855660e+07 4.11984180e+07
 4.46675020e+07 5.87097230e+07 6.66990130e+07 7.99237010e+07
 1.54767397e+08 1.95036846e+08 2.80479778e+08 3.41021133e+08
 3.63890752e+08 4.87197737e+08 5.12804507e+08 5.97064155e+08
 7.26634734e+08 8.11740824e+08 1.22832566e+09 1.73272909e+09
 4.19698384e+09 4.29683174e+09 7.12457247e+17 7.47554344e+17
 7.87461778e+17            nan]

Sorted numeric values per column in retweeted_status_timestamp
retweeted_status_timestamp is not numeric

Sorted numeric values per column in expanded_urls
expanded_urls is not numeric

Sorted numeric values per column in rating_numerator
[   0    1    2    3    4    5    6    7    8    9   10   11   12   13
   14   15   17   20   24   26   27   44   45   50   60   75   80   84
   88   99  121  143  144  165  182  204  420  666  960 1776]

Sorted numeric values per column in rating_denominator
[  0   2   7  10  11  15  16  20  40  50  70  80  90 110 120 130 150 170]

Sorted numeric values per column in name
name is not numeric

Sorted numeric values per column in doggo
doggo is not numeric

Sorted numeric values per column in floofer
floofer is not numeric

Sorted numeric values per column in pupper
pupper is not numeric

Sorted numeric values per column in puppo
puppo is not numeric

##### L. Check which column is object type from wrd_archive:

tweet_id is not

in_reply_to_status_id is not

in_reply_to_user_id is not

timestamp is object

source is object

text is object

retweeted_status_id is not

retweeted_status_user_id is not

retweeted_status_timestamp is object

expanded_urls is object

rating_numerator is not

rating_denominator is not

name is object

doggo is object

floofer is object

pupper is object

puppo is object

##### M. Count different values per column from wrd_archive:

tweet_id
892420643555336193    1
687102708889812993    1
687826841265172480    1
687818504314159109    1
687807801670897665    1
                     ..
775085132600442880    1
774757898236878852    1
774639387460112384    1
774314403806253056    1
666020888022790149    1
Name: tweet_id, Length: 2356, dtype: int64


in_reply_to_status_id
6.671522e+17    2
8.862664e+17    1
6.920419e+17    1
6.827884e+17    1
6.842229e+17    1
               ..
8.116272e+17    1
8.131273e+17    1
8.211526e+17    1
8.233264e+17    1
6.670655e+17    1
Name: in_reply_to_status_id, Length: 77, dtype: int64


in_reply_to_user_id
4.196984e+09    47
2.195506e+07     2
2.281182e+09     1
1.132119e+08     1
1.637468e+07     1
4.670367e+08     1
1.198989e+09     1
2.878549e+07     1
2.319108e+09     1
3.589728e+08     1
4.717297e+09     1
1.584641e+07     1
7.305050e+17     1
2.916630e+07     1
2.918590e+08     1
1.185634e+07     1
2.068372e+07     1
1.582854e+09     1
4.738443e+07     1
3.058208e+07     1
2.625958e+07     1
2.894131e+09     1
8.405479e+17     1
1.361572e+07     1
1.943518e+08     1
2.792810e+08     1
1.806710e+08     1
7.759620e+07     1
1.648776e+07     1
3.105441e+09     1
2.143566e+07     1
Name: in_reply_to_user_id, dtype: int64


timestamp
2017-08-01 16:23:56 +0000    1
2016-01-13 02:43:46 +0000    1
2016-01-15 02:41:12 +0000    1
2016-01-15 02:08:05 +0000    1
2016-01-15 01:25:33 +0000    1
                            ..
2016-09-11 21:34:30 +0000    1
2016-09-10 23:54:11 +0000    1
2016-09-10 16:03:16 +0000    1
2016-09-09 18:31:54 +0000    1
2015-11-15 22:32:08 +0000    1
Name: timestamp, Length: 2356, dtype: int64


source
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64


text
This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU                                      1
Army of water dogs here. None of them know where they're going. Have no real purpose. Aggressive barks. 5/10 for all https://t.co/A88x73TwMN       1
This is Louis. He's a rollercoaster of emotions. Incalculably fluffy. 12/10 would pet firmly https://t.co/17RGvOZO9P                               1
With great pupper comes great responsibility. 12/10 https://t.co/hK6xB042EP                                                                        1
Meet Trooper &amp; Maya. Trooper protects Maya from bad things like dognappers and Comcast. So touching. 11/10 for both https://t.co/c98k1IoZKy    1
                                                                                                                                                  ..
This is Tucker. He would like a hug. 13/10 someone hug him https://t.co/wdgY9oHPrT                                                                 1
This is Finley. She's a Beneboop Cumbersplash. 12/10 I'd do unspeakable things for Finley https://t.co/dS8SCbNF9P                                  1
This is Sprinkles. He's trapped in light jail. 10/10 would post bail for him https://t.co/4s5Xlijogu                                               1
I WAS SENT THE ACTUAL DOG IN THE PROFILE PIC BY HIS OWNER THIS IS SO WILD. 14/10 ULTIMATE LEGEND STATUS https://t.co/7oQ1wpfxIH                    1
Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj                1
Name: text, Length: 2356, dtype: int64


retweeted_status_id
8.874740e+17    1
6.704450e+17    1
6.671828e+17    1
6.661041e+17    1
7.717705e+17    1
               ..
7.950767e+17    1
7.840579e+17    1
8.222448e+17    1
8.224891e+17    1
6.675484e+17    1
Name: retweeted_status_id, Length: 181, dtype: int64


retweeted_status_user_id
4.196984e+09    156
4.296832e+09      2
5.128045e+08      1
7.124572e+17      1
7.832140e+05      1
2.804798e+08      1
1.950368e+08      1
1.732729e+09      1
1.228326e+09      1
7.992370e+07      1
2.488557e+07      1
4.871977e+08      1
4.466750e+07      1
7.266347e+08      1
1.547674e+08      1
1.960740e+07      1
4.119842e+07      1
5.970642e+08      1
3.410211e+08      1
7.475543e+17      1
6.669901e+07      1
5.870972e+07      1
3.638908e+08      1
7.874618e+17      1
8.117408e+08      1
Name: retweeted_status_user_id, dtype: int64


retweeted_status_timestamp
2017-07-19 00:47:34 +0000    1
2015-11-28 03:31:48 +0000    1
2015-11-19 03:29:07 +0000    1
2015-11-16 04:02:55 +0000    1
2016-09-02 18:03:10 +0000    1
                            ..
2016-11-06 01:33:58 +0000    1
2016-10-06 15:49:14 +0000    1
2017-01-20 00:50:15 +0000    1
2017-01-20 17:00:46 +0000    1
2015-11-20 03:41:59 +0000    1
Name: retweeted_status_timestamp, Length: 181, dtype: int64


expanded_urls
https://twitter.com/dog_rates/status/667152164079423490/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/718631497683582976/photo/1                                                                                                                                                                                                    2
https://twitter.com/dog_rates/status/783839966405230592/photo/1,https://twitter.com/dog_rates/status/783839966405230592/photo/1,https://twitter.com/dog_rates/status/783839966405230592/photo/1                                                                    2
https://twitter.com/dog_rates/status/774314403806253056/photo/1,https://twitter.com/dog_rates/status/774314403806253056/photo/1,https://twitter.com/dog_rates/status/774314403806253056/photo/1,https://twitter.com/dog_rates/status/774314403806253056/photo/1    2
https://twitter.com/dog_rates/status/781524693396357120/photo/1                                                                                                                                                                                                    2
                                                                                                                                                                                                                                                                  ..
https://twitter.com/dog_rates/status/763837565564780549/photo/1                                                                                                                                                                                                    1
https://twitter.com/dog_rates/status/764259802650378240/photo/1,https://twitter.com/dog_rates/status/764259802650378240/photo/1                                                                                                                                    1
https://twitter.com/dog_rates/status/764857477905154048/photo/1                                                                                                                                                                                                    1
https://twitter.com/dog_rates/status/765222098633691136/photo/1                                                                                                                                                                                                    1
https://twitter.com/dog_rates/status/666020888022790149/photo/1                                                                                                                                                                                                    1
Name: expanded_urls, Length: 2218, dtype: int64


rating_numerator
12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
2         9
1         9
75        2
15        2
420       2
0         2
80        1
144       1
17        1
26        1
20        1
121       1
143       1
44        1
60        1
45        1
50        1
99        1
204       1
1776      1
165       1
666       1
27        1
182       1
24        1
960       1
84        1
88        1
Name: rating_numerator, dtype: int64


rating_denominator
10     2333
11        3
50        3
20        2
80        2
70        1
7         1
15        1
150       1
170       1
0         1
90        1
40        1
130       1
110       1
16        1
120       1
2         1
Name: rating_denominator, dtype: int64


name
None          745
a              55
Charlie        12
Cooper         11
Lucy           11
             ...
Dex             1
Ace             1
Tayzie          1
Grizzie         1
Christoper      1
Name: name, Length: 957, dtype: int64


doggo
None     2259
doggo      97
Name: doggo, dtype: int64


floofer
None       2346
floofer      10
Name: floofer, dtype: int64


pupper
None      2099
pupper     257
Name: pupper, dtype: int64


puppo
None     2326
puppo      30
Name: puppo, dtype: int64

### wrd_image_prediction - Visual assessment

##### A. Head from wrd_image_prediction

             tweet_id                                          jpg_url  \
0  666020888022790149  https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg
1  666029285002620928  https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg
2  666033412701032449  https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg
3  666044226329800704  https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg
4  666049248165822465  https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg

   img_num                      p1   p1_conf  p1_dog                  p2  \
0        1  Welsh_springer_spaniel  0.465074    True              collie
1        1                 redbone  0.506826    True  miniature_pinscher
2        1         German_shepherd  0.596461    True            malinois
3        1     Rhodesian_ridgeback  0.408143    True             redbone
4        1      miniature_pinscher  0.560311    True          Rottweiler

    p2_conf  p2_dog                   p3   p3_conf  p3_dog
0  0.156665    True    Shetland_sheepdog  0.061428    True
1  0.074192    True  Rhodesian_ridgeback  0.072010    True
2  0.138584    True           bloodhound  0.116197    True
3  0.360687    True   miniature_pinscher  0.222752    True
4  0.243682    True             Doberman  0.154629    True

##### B. Tail from wrd_image_prediction

                tweet_id                                          jpg_url  \
2070  891327558926688256  https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg
2071  891689557279858688  https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg
2072  891815181378084864  https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg
2073  892177421306343426  https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg
2074  892420643555336193  https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg

      img_num           p1   p1_conf  p1_dog                  p2   p2_conf  \
2070        2       basset  0.555712    True    English_springer  0.225770
2071        1  paper_towel  0.170278   False  Labrador_retriever  0.168086
2072        1    Chihuahua  0.716012    True            malamute  0.078253
2073        1    Chihuahua  0.323581    True            Pekinese  0.090647
2074        1       orange  0.097049   False               bagel  0.085851

      p2_dog                           p3   p3_conf  p3_dog
2070    True  German_short-haired_pointer  0.175219    True
2071    True                      spatula  0.040836   False
2072    True                       kelpie  0.031379    True
2073    True                     papillon  0.068957    True
2074   False                       banana  0.076110   False

##### C. Sample of 25 rows from wrd_image_prediction

                tweet_id                                            jpg_url  \
374   672995267319328768    https://pbs.twimg.com/media/CVb1mRiWcAADBsE.jpg
36    666447344410484738    https://pbs.twimg.com/media/CT-yU5QWwAEjLX5.jpg
524   676603393314578432    https://pbs.twimg.com/media/CWPHMqKVAAAE78E.jpg
477   675166823650848770    https://pbs.twimg.com/media/CV6spB7XAAIpMyP.jpg
1153  732726085725589504    https://pbs.twimg.com/media/CisqdVcXEAE3iW7.jpg
1118  725842289046749185    https://pbs.twimg.com/media/ChK1tdBWwAQ1flD.jpg
1246  747594051852075008    https://pbs.twimg.com/media/Cl_80k5WkAEbo9m.jpg
1338  758467244762497024  https://pbs.twimg.com/ext_tw_video_thumb/75846...
2034  883838122936631299    https://pbs.twimg.com/media/DEQGFgAXUAAEvfi.jpg
1425  772193107915964416    https://pbs.twimg.com/media/Crdhh_1XEAAHKHi.jpg
1757  825147591692263424    https://pbs.twimg.com/media/C3ODWpfXAAAP1fb.jpg
1546  792394556390137856    https://pbs.twimg.com/media/Cv8moW9W8AIHOxR.jpg
217   670069087419133954    https://pbs.twimg.com/media/CUyQRzHWoAAhF1D.jpg
278   670995969505435648    https://pbs.twimg.com/media/CU_bRIEWcAAUVC7.jpg
1152  732585889486888962    https://pbs.twimg.com/media/Ciqq-VFUUAANlWm.jpg
621   680494726643068929    https://pbs.twimg.com/media/CXGaVxOWAAADjhF.jpg
33    666430724426358785    https://pbs.twimg.com/media/CT-jNYqW4AAPi2M.jpg
627   680836378243002368    https://pbs.twimg.com/media/CXLREjOW8AElfk6.jpg
631   680940246314430465    https://pbs.twimg.com/media/CXMvio7WQAAPZJj.jpg
1571  794983741416415232    https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg
1805  832273440279240704  https://pbs.twimg.com/ext_tw_video_thumb/83227...
1396  767884188863397888    https://pbs.twimg.com/media/CqgSl4DWcAA-x-o.jpg
606   679877062409191424    https://pbs.twimg.com/media/CW9olDsUsAA0XSf.jpg
190   669393256313184256    https://pbs.twimg.com/media/CUopnHPVEAAcL2o.jpg
94    667550882905632768    https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg

      img_num                           p1   p1_conf  p1_dog  \
374         1               French_bulldog  0.719559    True
36          1       curly-coated_retriever  0.322084    True
524         1                      whippet  0.877021    True
477         1                        llama  0.284394   False
1153        1                   Pomeranian  0.961902    True
1118        1                   toy_poodle  0.420463    True
1246        1                      basenji  0.389136    True
1338        1           Labrador_retriever  0.436377    True
2034        1                     Doberman  0.610946    True
1425        1                     Pembroke  0.367945    True
1757        1                     Pekinese  0.354823    True
1546        2               cocker_spaniel  0.746387    True
217         1                    boathouse  0.313829   False
278         1                      redbone  0.866221    True
1152        2    Staffordshire_bullterrier  0.843359    True
621         1                       kuvasz  0.438627    True
33          1                        llama  0.505184   False
627         3                     Pembroke  0.427781    True
631         1  soft-coated_wheaten_terrier  0.289598    True
1571        3                   schipperke  0.363272    True
1805        1                     Pembroke  0.134081    True
1396        3                   coral_reef  0.327740   False
606         1                          hog  0.809466   False
190         1               cocker_spaniel  0.359843    True
94          1                     web_site  0.998258   False

                                  p2   p2_conf  p2_dog  \
374                            boxer  0.166927    True
36                   giant_schnauzer  0.287955    True
524                       Great_Dane  0.034182    True
477                  standard_poodle  0.132569    True
1153                         Samoyed  0.024289    True
1118                miniature_poodle  0.132640    True
1246                           dingo  0.270226   False
1338                       Chihuahua  0.113956    True
2034              miniature_pinscher  0.299603    True
1425                       Chihuahua  0.223522    True
1757                      Pomeranian  0.245390    True
1546                    Irish_setter  0.091615    True
217                        birdhouse  0.138331   False
278                           beagle  0.061194    True
1152  American_Staffordshire_terrier  0.028290    True
621                          Samoyed  0.111622    True
33                     Irish_terrier  0.104109    True
627                Shetland_sheepdog  0.160669    True
631      West_Highland_white_terrier  0.157195    True
1571                          kelpie  0.197021    True
1805                        ice_bear  0.051928   False
1396                           cliff  0.157182   False
606                              hay  0.060178   False
190                 Blenheim_spaniel  0.139519    True
94                        dishwasher  0.000201   False

                                  p3   p3_conf  p3_dog
374                      Boston_bull  0.101354    True
36                Labrador_retriever  0.166331    True
524                            boxer  0.028404    True
477                            teddy  0.127975   False
1153                            chow  0.005772    True
1118        Chesapeake_Bay_retriever  0.121523    True
1246                       Chihuahua  0.098939    True
1338  American_Staffordshire_terrier  0.099689    True
2034                          kelpie  0.063020    True
1425                        Pekinese  0.164871    True
1757                      toy_poodle  0.136545    True
1546                miniature_poodle  0.061078    True
217                           ashcan  0.045673   False
278              Rhodesian_ridgeback  0.024285    True
1152              miniature_pinscher  0.016793    True
621                   Great_Pyrenees  0.064061    True
33                             dingo  0.062071   False
627                       Pomeranian  0.111250    True
631                       toy_poodle  0.074435    True
1571              Norwegian_elkhound  0.151024    True
1805                             pug  0.044311    True
1396                        lakeside  0.048810   False
606                       lumbermill  0.016483   False
190                       toy_poodle  0.132746    True
94                      oscilloscope  0.000142   False

### wrd_image_prediction - Programmatic assessment

##### D. Shape from wrd_image_prediction:

(2075, 12)

##### E. Info from wrd_image_prediction:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB
None

##### F. isnull sum from wrd_image_prediction:

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

##### G. Duplicates from wrd_image_prediction:

0

##### H. Describe from wrd_image_prediction:

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

##### I. Nunique from wrd_image_prediction:

tweet_id    2075
jpg_url     2009
img_num        4
p1           378
p1_conf     2006
p1_dog         2
p2           405
p2_conf     2004
p2_dog         2
p3           408
p3_conf     2006
p3_dog         2
dtype: int64

##### J. Duplicates per column from wrd_image_prediction:

Sum of duplicates in tweet_id = 0(int64)

Sum of duplicates in jpg_url = 66(object)

Sum of duplicates in img_num = 2071(int64)

Sum of duplicates in p1 = 1697(object)

Sum of duplicates in p1_conf = 69(float64)

Sum of duplicates in p1_dog = 2073(bool)

Sum of duplicates in p2 = 1670(object)

Sum of duplicates in p2_conf = 71(float64)

Sum of duplicates in p2_dog = 2073(bool)

Sum of duplicates in p3 = 1667(object)

Sum of duplicates in p3_conf = 69(float64)

Sum of duplicates in p3_dog = 2073(bool)

##### K. Sorted numeric values per column in wrd_image_prediction:

Sorted numeric values per column in tweet_id
[666020888022790149 666029285002620928 666033412701032449 ...
 891815181378084864 892177421306343426 892420643555336193]

Sorted numeric values per column in jpg_url
jpg_url is not numeric

Sorted numeric values per column in img_num
[1 2 3 4]

Sorted numeric values per column in p1
p1 is not numeric

Sorted numeric values per column in p1_conf
[0.0443334 0.0553794 0.0590326 ... 0.999962  0.999984  1.       ]

Sorted numeric values per column in p1_dog
[False  True]

Sorted numeric values per column in p2
p2 is not numeric

Sorted numeric values per column in p2_conf
[1.01130e-08 1.00288e-05 1.44895e-05 ... 4.64816e-01 4.67678e-01
 4.88014e-01]

Sorted numeric values per column in p2_dog
[False  True]

Sorted numeric values per column in p3
p3 is not numeric

Sorted numeric values per column in p3_conf
[1.74017e-10 2.16090e-07 5.59504e-07 ... 2.70673e-01 2.71042e-01
 2.73419e-01]

Sorted numeric values per column in p3_dog
[False  True]

##### L. Check which column is object type from wrd_image_prediction:

tweet_id is not

jpg_url is object

img_num is not

p1 is object

p1_conf is not

p1_dog is not

p2 is object

p2_conf is not

p2_dog is not

p3 is object

p3_conf is not

p3_dog is not

##### M. Count different values per column from wrd_image_prediction:

tweet_id
666020888022790149    1
761292947749015552    1
767122157629476866    1
766793450729734144    1
766693177336135680    1
                     ..
684097758874210310    1
683857920510050305    1
683852578183077888    1
683849932751646720    1
892420643555336193    1
Name: tweet_id, Length: 2075, dtype: int64


jpg_url
https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg                                            2
https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/807106774843039744/pu/img/8XZg1xW35Xp2J6JW.jpg    2
https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg                                            2
https://pbs.twimg.com/media/CsrjryzWgAAZY00.jpg                                            2
                                                                                          ..
https://pbs.twimg.com/media/CXrmMSpUwAAdeRj.jpg                                            1
https://pbs.twimg.com/media/CXrawAhWkAAWSxC.jpg                                            1
https://pbs.twimg.com/media/CXrIntsUsAEkv0d.jpg                                            1
https://pbs.twimg.com/media/CXqcOHCUQAAugTB.jpg                                            1
https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg                                            1
Name: jpg_url, Length: 2009, dtype: int64


img_num
1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64


p1
golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
pillow                  1
carousel                1
bald_eagle              1
lorikeet                1
orange                  1
Name: p1, Length: 378, dtype: int64


p1_conf
0.721188    2
0.676439    2
0.505370    2
0.777468    2
0.254856    2
           ..
0.141432    1
0.722218    1
0.278600    1
0.375610    1
0.097049    1
Name: p1_conf, Length: 2006, dtype: int64


p1_dog
True     1532
False     543
Name: p1_dog, dtype: int64


p2
Labrador_retriever    104
golden_retriever       92
Cardigan               73
Chihuahua              44
Pomeranian             42
                     ...
medicine_chest          1
quail                   1
horse_cart              1
waffle_iron             1
bagel                   1
Name: p2, Length: 405, dtype: int64


p2_conf
0.069362    3
0.001186    2
0.181351    2
0.016641    2
0.112943    2
           ..
0.053008    1
0.094044    1
0.193804    1
0.155207    1
0.085851    1
Name: p2_conf, Length: 2004, dtype: int64


p2_dog
True     1553
False     522
Name: p2_dog, dtype: int64


p3
Labrador_retriever    79
Chihuahua             58
golden_retriever      48
Eskimo_dog            38
kelpie                35
                      ..
ox                     1
assault_rifle          1
axolotl                1
pot                    1
banana                 1
Name: p3, Length: 408, dtype: int64


p3_conf
0.023353    2
0.046403    2
0.077008    2
0.017492    2
0.223263    2
           ..
0.037881    1
0.085237    1
0.055194    1
0.153598    1
0.076110    1
Name: p3_conf, Length: 2006, dtype: int64


p3_dog
True     1499
False     576
Name: p3_dog, dtype: int64

### wrd_archive_add - Visual assessment

##### A. Head from wrd_archive_add

             tweet_id  retweet_count  favorite_count
0  892420643555336193           6975           33711
1  892177421306343426           5276           29231
2  891815181378084864           3465           21982
3  891689557279858688           7196           36804
4  891327558926688256           7721           35192

##### B. Tail from wrd_archive_add

                tweet_id  retweet_count  favorite_count
2322  666049248165822465             36              88
2323  666044226329800704            115             246
2324  666033412701032449             36             100
2325  666029285002620928             39             112
2326  666020888022790149            420            2285

##### C. Sample of 25 rows from wrd_archive_add

                tweet_id  retweet_count  favorite_count
1603  684481074559381504           1069            3559
2263  667160273090932737             50             219
1412  696886256886657024           1626            4441
1022  743210557239623680           1232            3551
2310  666102155909144576             11              66
492   811985624773361665           1304            6893
2197  668274247790391296            196             718
2222  667806454573760512            416             926
266   839549326359670784           7057           25521
978   747648653817413632           5305           11932
371   826476773533745153           3885           17330
1406  697270446429966336           1712            4340
737   778408200802557953           3994           12830
1541  687807801670897665            657            2197
1448  693629975228977152            719            2257
250   842163532590374912           5249           22687
915   752701944171524096           2609               0
1585  685315239903100929            944            3025
387   823939628516474880           2523           10039
1159  718460005985447936            474            2501
834   763183847194451968           1352            5045
211   849668094696017920           4435               0
1708  679530280114372609           1878            4361
895   756275833623502848           1402            5962
574   798705661114773508           6187               0

### wrd_archive_add - Programmatic assessment

##### D. Shape from wrd_archive_add:

(2327, 3)

##### E. Info from wrd_archive_add:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2327 entries, 0 to 2326
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2327 non-null   int64
 1   retweet_count   2327 non-null   int64
 2   favorite_count  2327 non-null   int64
dtypes: int64(3)
memory usage: 54.7 KB
None

##### F. isnull sum from wrd_archive_add:

tweet_id          0
retweet_count     0
favorite_count    0
dtype: int64

##### G. Duplicates from wrd_archive_add:

0

##### H. Describe from wrd_archive_add:

           tweet_id  retweet_count  favorite_count
count  2.327000e+03    2327.000000     2327.000000
mean   7.417930e+17    2459.823378     7029.201117
std    6.820795e+16    4165.838143    10923.364445
min    6.660209e+17       1.000000        0.000000
25%    6.781394e+17     492.500000     1220.500000
50%    7.178418e+17    1144.000000     3040.000000
75%    7.986547e+17    2845.000000     8568.000000
max    8.924206e+17   70366.000000   144304.000000

##### I. Nunique from wrd_archive_add:

tweet_id          2327
retweet_count     1633
favorite_count    1971
dtype: int64

##### J. Duplicates per column from wrd_archive_add:

Sum of duplicates in tweet_id = 0(int64)

Sum of duplicates in retweet_count = 694(int64)

Sum of duplicates in favorite_count = 356(int64)

##### K. Sorted numeric values per column in wrd_archive_add:

Sorted numeric values per column in tweet_id
[666020888022790149 666029285002620928 666033412701032449 ...
 891815181378084864 892177421306343426 892420643555336193]

Sorted numeric values per column in retweet_count
[    1     2     3 ... 51452 52659 70366]

Sorted numeric values per column in favorite_count
[     0     45     59 ... 111241 123716 144304]

##### L. Check which column is object type from wrd_archive_add:

tweet_id is not

retweet_count is not

favorite_count is not

##### M. Count different values per column from wrd_archive_add:

tweet_id
892420643555336193    1
688828561667567616    1
687460506001633280    1
687399393394311168    1
687317306314240000    1
                     ..
772877495989305348    1
772826264096874500    1
772615324260794368    1
772581559778025472    1
666020888022790149    1
Name: tweet_id, Length: 2327, dtype: int64


retweet_count
819     5
521     5
406     5
50      5
669     5
       ..
3614    1
2707    1
4261    1
2328    1
420     1
Name: retweet_count, Length: 1633, dtype: int64


favorite_count
0        160
1148       4
371        4
1275       3
657        3
        ...
4724       1
3919       1
13356      1
5070       1
2285       1
Name: favorite_count, Length: 1971, dtype: int64

In [13]:
num

NameError: name 'num' is not defined

[top](#Tableofcontents)

### Table overview <a class="anchor" id="Tableoverview"></a>
 - **wrd_archive - contains twitter archive data of WeRateDogs**
 - **wrd_image_prediction - contains twitter api data (retweets and likes) of WeRateDogs**
 - **wrd_archive_add - contains tweet image prediction data**
---
#### What should the type and possible values of the columns be
##### wrd_archive
|Column|actual type|target type | possible values|
|----------------------------|-------|----------|-------|
| tweet_id                   |  int64 | string | 1 != empty  |
| in_reply_to_status_id      |  float64 | int64 |   |
| in_reply_to_user_id        |  float64 | int64 |   |
| timestamp                  |  object |Timestamp |   |
| source                     |  object |string |   |
| text                       |  object |string |   |
| retweeted_status_id        | float64  |int64 |   |
| retweeted_status_user_id   | float64  |int64 |   |
| retweeted_status_timestamp | object  |int64 |   |
| expanded_urls              |  object |string |   |
| rating_numerator           | int64  |int64 |   |
| rating_denominator         |  int64 |int64 |   |
| name                       | object  |string |   |
| doggo                      |  object |string |   |
| floofer                    | object  |string |   |
| pupper                     | object  |string |   |
| puppo                      | object  |string |    |

##### wrd_image_prediction
|Column|actual type|target type | possible values|
|----------|-----------------------|---|---|
| tweet_id  |int64 |string  |   |
| jpg_url  |object |string  |   |
| img_num  | int64|int64   |   |
| p1       |object |string  |   |
| p1_conf  | float64|float64 |   |
| p1_dog   |bool |bool    |   |
| p2       | object|string  |   |
| p2_conf  | float64|float64 |   |
| p2_dog   | bool|bool    |   |
| p3       |object |string  |   |
| p3_conf  |float64 |float64 |   |
| p3_dog   | bool|bool    |   |

##### wrd_archive_add
|Column|actual type|target type | possible values|
|----------|-----------------------|---|---|
| tweet_id  | int64 |string  |   |
| retweet_count  | int64 |int64   |   |
| favorite_count | int64 |int64  |   |

### All found issues <a class="anchor" id="Allfoundissues"></a>

| **Issue ID** | **Issue Type** | **Method** | **Dimension** | **Table** | **Column** | **Description** |
|---|---|---|---|---|---|---|
| 1 | Q | P | Completeness | wrd_archive | in_reply_to_status_id<br>in_reply_to_user_id | Observations for Uninterested reply columns present(78). |
| 2 | Q | P | Completeness | wrd_archive | retweeted_status_timestamp<br>retweeted_status_id<br>retweeted_status_user_id | Observations for Uninterested retweet columns present(181). |
| 3 | Q | V | Completeness | wrd_archive | in_reply_to_status_id<br>in_reply_to_user_id<br>retweeted_status_timestamp<br>retweeted_status_id<br>retweeted_status_user_id | Unnecessary columns |
| 4 | Q | P | Validity | wrd_archive<br>wrd_image_prediction<br>wrd_archive_add | tweet_id | Type *int64* instead of *string* |
| 5 | Q | P | Validity | wrd_archive | timestamp<br>retweeted_status_timestamp | Type *object* instead of *timestamp* |
| 6 | Q | V | Accuracy | wrd_archive | rating_numerator | Inaccurate values |
| 7 | Q | V | Accuracy | wrd_archive | rating_denominator | Inaccurate values != 10 |
| 8 | Q | V | Consistency | wrd_archive | rating_numerator<br>rating_denominator | Inconsistent rating |
| 9 | Q | P | Consistency | wrd_archive | expanded_urls | Sometimes more than one value |
| 10 | Q | V | Validity | wrd_archive | name | Invalid names or non-names |
| 11 | Q | P | Consistency | wrd_archive | text | & and \n in (sub)strings |
| 12 | Q | V | Consistency | wrd_archive | doggo<br>floofer<br>pupper<br>puppo | Categorical variables represented as separate column. |
| 13 | Q | V | Validity | wrd_image_prediction | p1_conf, p2_conf, p3_conf | Drop the rows with FALSE in all these columns |
| 14 | Q | V | Consistency | wrd_image_prediction | p1<br>p2<br>p3 | One Prediction data with TRUE and higher confidence is enough among the top three predictions. |
| 15 | T | P | - | wrd_archive | source | Multiple data values in one column (HTML tags URL and content) |
| 16 | T | P | - | wrd_archive | text | Multiple data values in one column (Text and URL) |
| 17 | T | P | - | wrd_archive<br>wrd_image_prediction<br>wrd_archive_add | tweet_id | Duplicate column in three DataFrame |
| 18 | T | V | - | wrd_image_prediction | p1, p1_dog, p1_conf<br>p2, p2_dog, p2_conf<br>p3, p3_dog, p3_conf | For quality I will create two new columns for image prediction and confidence level. After I will drop p1, p2, p3, p1_conf, p2_conf, p3_conf, p1_dog, p2_conf and p3_conf |
| 19 | Q | V | Consistency | wrd_image_prediction | p1<br>p2<br>p3 | Replace '_' with space in breed and Replace '-' with space/no space for breeds wherever needed based on actual name browsing |
| 20 | T | V | - | wrd_image_prediction | breed | Capitalize the breed strings |

### Quality issues <a class="anchor" id="Qualityissues"></a>

I choose the issues 1,2,3,4,5,6,7 and 12

[top](#Tableofcontents)

### Tidiness issues <a class="anchor" id="Tidinessissues"></a>

I choose the issues 15, 16 and 18

[top](#Tableofcontents)

## Cleaning Data <a class="anchor" id="CleaningData"></a>
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

[top](#Tableofcontents)

In [32]:
# Make copies of original pieces of data
wrd_archive_clean = wrd_archive.copy()
wrd_image_prediction_clean = wrd_image_prediction.copy()
wrd_archive_add_clean = wrd_archive_add.copy()

### Issue 1-Q

#### Define
**wrd_archive_clean/in_reply_to_status_id, in_reply_to_user_id**	Not necessary observations of uninterested reply columns present. I will drop the rows with input in these columns.

#### Code

In [33]:
# After counting the affected rows I will delete them within the 'Test' block bellow
print(len(wrd_archive_clean.query('in_reply_to_status_id != "NaN"')))
print(len(wrd_archive_clean.query('in_reply_to_user_id != "NaN"')))

78
78

#### Test

In [34]:
print(wrd_archive_clean.shape)
wrd_archive_clean = wrd_archive_clean[~wrd_archive_clean['in_reply_to_status_id'].notna()]
print(wrd_archive_clean.shape)

(2356, 17)
(2278, 17)

### Issue 2-Q

#### Define
**wrd_archive_clean/retweeted_status_timestamp, retweeted_status_id, retweeted_status_user_id**

Not necessary observations of uninterested retweet columns present.
I will drop the rows with input in these columns.
I am facing a problem here with counting the NaN in column 'retweeted_status_timestamp', so I let it.

#### Code

In [35]:
# After counting the affected rows I will delete them within the 'Test' block bellow
print(len(wrd_archive_clean[~wrd_archive_clean['retweeted_status_id'].isnull()]))
print(len(wrd_archive_clean[~wrd_archive_clean['retweeted_status_user_id'].isnull()]))

181
181

#### Test

In [36]:
print(wrd_archive_clean.shape)
wrd_archive_clean = wrd_archive_clean[wrd_archive_clean['retweeted_status_id'].isnull()]
wrd_archive_clean = wrd_archive_clean[wrd_archive_clean['retweeted_status_user_id'].isnull()]
print(wrd_archive_clean.shape)

(2278, 17)
(2097, 17)

### Issue 3-Q

#### Define
**wrd_archive_clean/in_reply_to_status_id, in_reply_to_user_id, retweeted_status_timestamp, retweeted_status_id, retweeted_status_user_id**

Unnecessary columns.

I will drop these columns

#### Code

In [37]:
print(wrd_archive_clean.shape)
wrd_archive_clean.drop(['in_reply_to_status_id',
                        'in_reply_to_user_id',
                        'retweeted_status_timestamp',
                        'retweeted_status_id',
                        'retweeted_status_user_id'
                        ], axis=1, inplace=True)

(2097, 17)

#### Test

In [38]:
print(wrd_archive_clean.shape, "\n")
print(wrd_archive_clean.info())

(2097, 12)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2097 non-null int64
timestamp             2097 non-null object
source                2097 non-null object
text                  2097 non-null object
expanded_urls         2094 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: int64(3), object(9)
memory usage: 213.0+ KB
None

### Issue 4-Q

#### Define
**wrd_archive, wrd_image_prediction, wrd_archive_add/tweet_id**	Type int64 instead of string
I will change the type of the columns to string.

#### Code

In [39]:
wrd_archive_clean.tweet_id = wrd_archive_clean.tweet_id.astype(str)
wrd_image_prediction_clean.tweet_id = wrd_image_prediction_clean.tweet_id.astype(str)
wrd_archive_add_clean.tweet_id = wrd_archive_add_clean.tweet_id.astype(str)

#### Test

In [40]:
print(wrd_archive_clean.tweet_id.apply(type), "\n")
print(wrd_image_prediction_clean.tweet_id.apply(type), "\n")
print(wrd_archive_add_clean.tweet_id.apply(type), "\n")

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6       <class 'str'>
7       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10      <class 'str'>
11      <class 'str'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17      <class 'str'>
18      <class 'str'>
20      <class 'str'>
21      <class 'str'>
22      <class 'str'>
23      <class 'str'>
24      <class 'str'>
25      <class 'str'>
26      <class 'str'>
27      <class 'str'>
28      <class 'str'>
29      <class 'str'>
31      <class 'str'>
            ...
2326    <class 'str'>
2327    <class 'str'>
2328    <class 'str'>
2329    <class 'str'>
2330    <class 'str'>
2331    <class 'str'>
2332    <class 'str'>
2333    <class 'str'>
2334    <class 'str'>
2335    <class 'str'>
2336    <class 'str'>
2337    <class 'str'>
2338    <class 'str'>
2339    <class 'str'>
2340    <class 'str'>
2341    <class 'str'>
2342    <class 'str'>
2343    <class 'str'>
2344    <class 'str'>
2345    <class 'str'>
2346    <class 'str'>
2347    <class 'str'>
2348    <class 'str'>
2349    <class 'str'>
2350    <class 'str'>
2351    <class 'str'>
2352    <class 'str'>
2353    <class 'str'>
2354    <class 'str'>
2355    <class 'str'>
Name: tweet_id, Length: 2097, dtype: object

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6       <class 'str'>
7       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10      <class 'str'>
11      <class 'str'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17      <class 'str'>
18      <class 'str'>
19      <class 'str'>
20      <class 'str'>
21      <class 'str'>
22      <class 'str'>
23      <class 'str'>
24      <class 'str'>
25      <class 'str'>
26      <class 'str'>
27      <class 'str'>
28      <class 'str'>
29      <class 'str'>
            ...
2045    <class 'str'>
2046    <class 'str'>
2047    <class 'str'>
2048    <class 'str'>
2049    <class 'str'>
2050    <class 'str'>
2051    <class 'str'>
2052    <class 'str'>
2053    <class 'str'>
2054    <class 'str'>
2055    <class 'str'>
2056    <class 'str'>
2057    <class 'str'>
2058    <class 'str'>
2059    <class 'str'>
2060    <class 'str'>
2061    <class 'str'>
2062    <class 'str'>
2063    <class 'str'>
2064    <class 'str'>
2065    <class 'str'>
2066    <class 'str'>
2067    <class 'str'>
2068    <class 'str'>
2069    <class 'str'>
2070    <class 'str'>
2071    <class 'str'>
2072    <class 'str'>
2073    <class 'str'>
2074    <class 'str'>
Name: tweet_id, Length: 2075, dtype: object

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
5       <class 'str'>
6       <class 'str'>
7       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10      <class 'str'>
11      <class 'str'>
12      <class 'str'>
13      <class 'str'>
14      <class 'str'>
15      <class 'str'>
16      <class 'str'>
17      <class 'str'>
18      <class 'str'>
19      <class 'str'>
20      <class 'str'>
21      <class 'str'>
22      <class 'str'>
23      <class 'str'>
24      <class 'str'>
25      <class 'str'>
26      <class 'str'>
27      <class 'str'>
28      <class 'str'>
29      <class 'str'>
            ...
2297    <class 'str'>
2298    <class 'str'>
2299    <class 'str'>
2300    <class 'str'>
2301    <class 'str'>
2302    <class 'str'>
2303    <class 'str'>
2304    <class 'str'>
2305    <class 'str'>
2306    <class 'str'>
2307    <class 'str'>
2308    <class 'str'>
2309    <class 'str'>
2310    <class 'str'>
2311    <class 'str'>
2312    <class 'str'>
2313    <class 'str'>
2314    <class 'str'>
2315    <class 'str'>
2316    <class 'str'>
2317    <class 'str'>
2318    <class 'str'>
2319    <class 'str'>
2320    <class 'str'>
2321    <class 'str'>
2322    <class 'str'>
2323    <class 'str'>
2324    <class 'str'>
2325    <class 'str'>
2326    <class 'str'>
Name: tweet_id, Length: 2327, dtype: object

### Issue 5-Q

#### Define
**wrd_archive_clean/timestamp, retweeted_status_timestamp (already dropped)** Type *object* instead of *timestamp*
I will change the column type to `timestamp`

#### Code

In [41]:
wrd_archive_clean.timestamp = pd.to_datetime(wrd_archive_clean.timestamp)

#### Test

In [42]:
print(wrd_archive_clean.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2097 non-null object
timestamp             2097 non-null datetime64[ns]
source                2097 non-null object
text                  2097 non-null object
expanded_urls         2094 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 213.0+ KB
None

### Issue 6-Q

#### Define
**wrd_archive_clean/rating_denominator**
Inaccurate values != 10. As these are just 17 rows I will drop them.

#### Code

In [43]:
# After counting the affected rows I will delete them within the 'Test' block bellow
len(wrd_archive_clean.query('rating_denominator != 10'))

17

#### Test

In [44]:
print(wrd_archive_clean.shape)
wrd_archive_clean = wrd_archive_clean[wrd_archive_clean.rating_denominator == 10]
print(wrd_archive_clean.shape)

(2097, 12)
(2080, 12)

### Issue 7-Q

#### Define
**wrd_archive_clean/rating_numerator**

We have some numerator >= 15 rows, there is a big gap between 14 and 26. This seems unrealisted watching the distribution. As these are just 5 rows I will drop them.

#### Code

In [45]:
wrd_archive_clean['rating_numerator'].value_counts().sort_index(ascending = False)

1776      1
420       1
75        1
27        1
26        1
14       38
13      287
12      486
11      413
10      436
9       152
8        98
7        51
6        32
5        34
4        15
3        19
2         9
1         4
0         1
Name: rating_numerator, dtype: int64

#### Test

In [46]:
# After counting the affected rows I will delete them within the 'Test' block bellow
print(len(wrd_archive_clean.query('rating_numerator >= 15')),"\n")

print(wrd_archive_clean.shape)
wrd_archive_clean = wrd_archive_clean[wrd_archive_clean.rating_numerator <= 15]
print(wrd_archive_clean.shape)

5

(2080, 12)
(2075, 12)

### Issue 12-Q

#### Define

**wrd_archive_clean/doggo, floofer, pupper, puppo**

Categorical variables represented as separate columns.

I will create a column dog_stage with the values from these columns and drop them afterwards.

#### Code

In [47]:
import re
wrd_archive_clean['dog_stage'] = wrd_archive_clean.apply(lambda x : re.sub('None,*','',(x.doggo +','+ x.floofer + x.puppo + x.pupper)).rstrip(',') 
                     if re.sub('None','',(x.doggo + x.floofer + x.pupper + x.puppo)) != ''
                     else 'None', axis=1)

columns_to_drop = ['doggo',
                   'floofer',
                   'pupper',
                   'puppo'
                  ]
wrd_archive_clean.drop(columns = columns_to_drop, inplace = True)

#### Test

In [48]:
wrd_archive_clean

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None
1,892177421306343426,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None
2,891815181378084864,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None
3,891689557279858688,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None
4,891327558926688256,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None
5,891087950875897856,2017-07-29 00:08:17,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,None,None
6,890971913173991426,2017-07-28 16:27:12,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None
7,890729181411237888,2017-07-28 00:22:40,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13,10,None,None
8,890609185150312448,2017-07-27 16:25:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None
9,890240255349198849,2017-07-26 15:59:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo
10,890006608113172480,2017-07-26 00:31:25,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None
11,889880896479866881,2017-07-25 16:11:53,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None
12,889665388333682689,2017-07-25 01:55:32,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13,10,None,puppo
13,889638837579907072,2017-07-25 00:10:02,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None
14,889531135344209921,2017-07-24 17:02:04,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,puppo
15,889278841981685760,2017-07-24 00:19:32,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None
16,888917238123831296,2017-07-23 00:22:39,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None
17,888804989199671297,2017-07-22 16:56:37,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None
18,888554962724278272,2017-07-22 00:23:06,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None
20,888078434458587136,2017-07-20 16:49:33,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None
21,887705289381826560,2017-07-19 16:06:48,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None
22,887517139158093824,2017-07-19 03:39:09,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,14,10,such,None
23,887473957103951883,2017-07-19 00:47:34,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None
24,887343217045368832,2017-07-18 16:08:03,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,https://twitter.com/dog_rates/status/887343217...,13,10,None,None
25,887101392804085760,2017-07-18 00:07:08,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,https://twitter.com/dog_rates/status/887101392...,12,10,None,None
26,886983233522544640,2017-07-17 16:17:36,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None
27,886736880519319552,2017-07-16 23:58:41,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None
28,886680336477933568,2017-07-16 20:14:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None
29,886366144734445568,2017-07-15 23:25:31,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,pupper
31,886258384151887873,2017-07-15 16:17:19,"<a href=""http://twitter.com/download/iphone"" r...",This is Waffles. His doggles are pupside down....,https://twitter.com/dog_rates/status/886258384...,13,10,Waffles,None
...,...,...,...,...,...,...,...,...,...
2325,666418789513326592,2015-11-17 00:53:15,"<a href=""http://twitter.com/download/iphone"" r...",This is Walter. He is an Alaskan Terrapin. Lov...,https://twitter.com/dog_rates/status/666418789...,10,10,Walter,None
2326,666411507551481857,2015-11-17 00:24:19,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None
2327,666407126856765440,2015-11-17 00:06:54,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,https://twitter.com/dog_rates/status/666407126...,7,10,a,None
2328,666396247373291520,2015-11-16 23:23:41,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,https://twitter.com/dog_rates/status/666396247...,9,10,None,None
2329,666373753744588802,2015-11-16 21:54:18,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,https://twitter.com/dog_rates/status/666373753...,11,10,None,None
2330,666362758909284353,2015-11-16 21:10:36,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,https://twitter.com/dog_rates/status/666362758...,6,10,None,None
2331,666353288456101888,2015-11-16 20:32:58,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galpagos...,https://twitter.com/dog_rates/status/666353288...,8,10,None,None
2332,666345417576210432,2015-11-16 20:01:42,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,https://twitter.com/dog_rates/status/666345417...,10,10,None,None
2333,666337882303524864,2015-11-16 19:31:45,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,9,10,an,None
2334,666293911632134144,2015-11-16 16:37:02,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,3,10,a,None
2336,666273097616637952,2015-11-16 15:14:19,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,https://twitter.com/dog_rates/status/666273097...,11,10,None,None
2337,666268910803644416,2015-11-16 14:57:41,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,https://twitter.com/dog_rates/status/666268910...,10,10,None,None
2338,666104133288665088,2015-11-16 04:02:55,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,https://twitter.com/dog_rates/status/666104133...,1,10,None,None
2339,666102155909144576,2015-11-16 03:55:04,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,https://twitter.com/dog_rates/status/666102155...,11,10,None,None
2340,666099513787052032,2015-11-16 03:44:34,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,https://twitter.com/dog_rates/status/666099513...,8,10,None,None
2341,666094000022159362,2015-11-16 03:22:39,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,https://twitter.com/dog_rates/status/666094000...,9,10,None,None
2342,666082916733198337,2015-11-16 02:38:37,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,https://twitter.com/dog_rates/status/666082916...,6,10,None,None
2343,666073100786774016,2015-11-16 01:59:36,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,https://twitter.com/dog_rates/status/666073100...,10,10,None,None
2344,666071193221509120,2015-11-16 01:52:02,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,https://twitter.com/dog_rates/status/666071193...,9,10,None,None
2345,666063827256086533,2015-11-16 01:22:45,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,10,10,the,None
2346,666058600524156928,2015-11-16 01:01:59,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,8,10,the,None
2347,666057090499244032,2015-11-16 00:55:59,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,https://twitter.com/dog_rates/status/666057090...,9,10,a,None
2348,666055525042405380,2015-11-16 00:49:46,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,https://twitter.com/dog_rates/status/666055525...,10,10,a,None
2349,666051853826850816,2015-11-16 00:35:11,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,2,10,an,None
2350,666050758794694657,2015-11-16 00:30:50,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,https://twitter.com/dog_rates/status/666050758...,10,10,a,None
2351,666049248165822465,2015-11-16 00:24:50,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,None
2352,666044226329800704,2015-11-16 00:04:52,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,None
2353,666033412701032449,2015-11-15 23:21:54,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,None
2354,666029285002620928,2015-11-15 23:05:30,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,None
2355,666020888022790149,2015-11-15 22:32:08,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,None

### Issue 7-Q

#### Define

**wrd_image_prediction_clean/p1, p1_dog, p1_conf, p2, p2_dog, p2_conf, p3, p3_dog, p3_conf**

For quality I will create two new columns for image prediction and confidence level. After I will drop p1, p2, p3, p1_conf, p2_conf, p3_conf, p1_dog, p2_conf and p3_conf

#### Define

#### Code

In [51]:
# Create a list to store the best prediction and confidence values
prediction_list = []

# Define a function to perform the extraction process
def extract_breed_info(row):
    """
        Extracts the best prediction and confidence value from passed row.
        Params:
            row: a row from the dataframe of interest.
        Output:
            A dictionary containing prediction and confidence appended into prediction list.
            Prints a status update of extraction process.
    """
    if row.p1_dog:
        prediction_list.append({'breed': row.p1,'confidence': row.p1_conf})
    elif row.p2_dog:
        prediction_list.append({'breed': row.p2,'confidence': row.p2_conf})
    elif row.p3_dog:
        prediction_list.append({'breed': row.p3,'confidence': row.p3_conf})
    else:
        prediction_list.append({'breed': 'Unknown','confidence': 0})
        
    return 'Info extracted to prediction list'

In [53]:
# Run the extraction process
wrd_image_prediction_clean.apply(extract_breed_info, axis=1)

0       Info extracted to prediction list
1       Info extracted to prediction list
2       Info extracted to prediction list
3       Info extracted to prediction list
4       Info extracted to prediction list
5       Info extracted to prediction list
6       Info extracted to prediction list
7       Info extracted to prediction list
8       Info extracted to prediction list
9       Info extracted to prediction list
10      Info extracted to prediction list
11      Info extracted to prediction list
12      Info extracted to prediction list
13      Info extracted to prediction list
14      Info extracted to prediction list
15      Info extracted to prediction list
16      Info extracted to prediction list
17      Info extracted to prediction list
18      Info extracted to prediction list
19      Info extracted to prediction list
20      Info extracted to prediction list
21      Info extracted to prediction list
22      Info extracted to prediction list
23      Info extracted to prediction list
24      Info extracted to prediction list
25      Info extracted to prediction list
26      Info extracted to prediction list
27      Info extracted to prediction list
28      Info extracted to prediction list
29      Info extracted to prediction list
                      ...
2045    Info extracted to prediction list
2046    Info extracted to prediction list
2047    Info extracted to prediction list
2048    Info extracted to prediction list
2049    Info extracted to prediction list
2050    Info extracted to prediction list
2051    Info extracted to prediction list
2052    Info extracted to prediction list
2053    Info extracted to prediction list
2054    Info extracted to prediction list
2055    Info extracted to prediction list
2056    Info extracted to prediction list
2057    Info extracted to prediction list
2058    Info extracted to prediction list
2059    Info extracted to prediction list
2060    Info extracted to prediction list
2061    Info extracted to prediction list
2062    Info extracted to prediction list
2063    Info extracted to prediction list
2064    Info extracted to prediction list
2065    Info extracted to prediction list
2066    Info extracted to prediction list
2067    Info extracted to prediction list
2068    Info extracted to prediction list
2069    Info extracted to prediction list
2070    Info extracted to prediction list
2071    Info extracted to prediction list
2072    Info extracted to prediction list
2073    Info extracted to prediction list
2074    Info extracted to prediction list
Length: 2075, dtype: object

In [56]:
# Assign the values in prediction list into new columns in predictions_clean
wrd_image_prediction_clean[['breed', 'confidence']] = pd.DataFrame(prediction_list)

# Round confidence to three decimal places
wrd_image_prediction_clean.confidence = round(wrd_image_prediction_clean.confidence, 3)

In [57]:
# Verify the extraction process
wrd_image_prediction_clean.iloc[:, 3:].sample(5)

,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,breed,confidence
635,Irish_setter,0.406047,True,cocker_spaniel,0.345646,True,Airedale,1.479120e-01,True,Irish_setter,0.406
1748,dingo,0.280949,False,German_shepherd,0.194044,True,Pembroke,1.200510e-01,True,German_shepherd,0.194
119,Chihuahua,0.664834,True,cowboy_boot,0.060343,False,giant_panda,5.983750e-02,False,Chihuahua,0.665
1556,doormat,0.874431,False,French_bulldog,0.018759,True,Boston_bull,1.513440e-02,True,French_bulldog,0.019
1760,shopping_cart,0.995941,False,shopping_basket,0.004057,False,mousetrap,8.832830e-07,False,Unknown,0.000

In [87]:
#create new columns
wrd_image_prediction_clean['dog_breed'] = dog_breed
wrd_image_prediction_clean['confidence_level'] = confidence_level

ValueError: Length of values does not match length of index

In [58]:
# Create a list of unwanted columns
unwanted_columns = ['p1','p2', 'p3','p1_conf', 'p2_conf', 'p3_conf','p1_dog', 'p2_dog', 'p3_dog', 'img_num']

# Drop all unwanted columns
wrd_image_prediction_clean.drop(columns=unwanted_columns, inplace=True)

#### Test

In [60]:
wrd_image_prediction_clean.head(5)

,tweet_id,jpg_url,breed,confidence
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,Welsh_springer_spaniel,0.465
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,redbone,0.507
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,German_shepherd,0.596
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,Rhodesian_ridgeback,0.408
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,miniature_pinscher,0.560

### Issue 8-Q

#### Define:
**wrd_image_prediction_clean/dog_breed**

Replace '_' with space in breed and Replace '-' with space/no space for breeds wherever needed based on actual name browsing

#### Code

In [61]:
# Remove all underscores and format the breed text to titlecase.
wrd_image_prediction_clean.breed = wrd_image_prediction_clean.breed.str.replace('_', ' ').str.title()

#### Test

In [62]:
wrd_image_prediction_clean.breed.unique()

array(['Welsh Springer Spaniel', 'Redbone', 'German Shepherd',
       'Rhodesian Ridgeback', 'Miniature Pinscher', 'Bernese Mountain Dog',
       'Unknown', 'Chow', 'Golden Retriever', 'Miniature Poodle',
       'Gordon Setter', 'Walker Hound', 'Pug', 'Bloodhound', 'Lhasa',
       'English Setter', 'Italian Greyhound', 'Maltese Dog',
       'Newfoundland', 'Malamute', 'Soft-Coated Wheaten Terrier',
       'Chihuahua', 'Black-And-Tan Coonhound', 'Toy Terrier',
       'Blenheim Spaniel', 'Pembroke', 'Irish Terrier',
       'Chesapeake Bay Retriever', 'Curly-Coated Retriever', 'Dalmatian',
       'Ibizan Hound', 'Border Collie', 'Labrador Retriever',
       'Miniature Schnauzer', 'Airedale', 'Rottweiler',
       'West Highland White Terrier', 'Toy Poodle', 'Giant Schnauzer',
       'Vizsla', 'Siberian Husky', 'Papillon', 'Saint Bernard',
       'Tibetan Terrier', 'Borzoi', 'Beagle', 'Yorkshire Terrier',
       'Pomeranian', 'Kuvasz', 'Flat-Coated Retriever',
       'Norwegian Elkhound', 'Boxer', 'Eskimo Dog', 'Standard Poodle',
       'Staffordshire Bullterrier', 'Basenji', 'Lakeland Terrier',
       'American Staffordshire Terrier', 'Shih-Tzu', 'Groenendael',
       'French Bulldog', 'Pekinese', 'Komondor', 'Malinois', 'Kelpie',
       'Brittany Spaniel', 'Cocker Spaniel', 'Basset', 'English Springer',
       'Cardigan', 'Brabancon Griffon', 'German Short-Haired Pointer',
       'Shetland Sheepdog', 'Cairn', 'Whippet', 'Sussex Spaniel',
       'Dandie Dinmont', 'Norwich Terrier', 'Keeshond', 'Norfolk Terrier',
       'Old English Sheepdog', 'Samoyed', 'Scottish Deerhound', 'Doberman',
       'Irish Wolfhound', 'Great Pyrenees', 'Schipperke', 'Bull Mastiff',
       'Collie', 'Greater Swiss Mountain Dog', 'Standard Schnauzer',
       'Irish Water Spaniel', 'Boston Bull', 'Japanese Spaniel',
       'Bedlington Terrier', 'Entlebucher', 'Bluetick', 'Irish Setter',
       'Leonberg', 'Mexican Hairless', 'Weimaraner', 'Great Dane',
       'Tibetan Mastiff', 'Scotch Terrier', 'Australian Terrier', 'Briard',
       'Appenzeller', 'Border Terrier', 'Wire-Haired Fox Terrier',
       'Saluki', 'Silky Terrier', 'Afghan Hound', 'Clumber',
       'Bouvier Des Flandres'], dtype=object)

### Issue 18-T

#### Define:
**wrd_image_prediction/**

Merge all DataFrames into one Master DataFrame

#### Code

In [63]:
# Merge archive clean and prediction clean into master df
master_df = pd.merge(wrd_archive_clean, wrd_image_prediction, on='tweet_id', how='inner')

# Merge json clean into master df
master_df = pd.merge(master_df, wrd_archive_add, on='tweet_id', how='inner')

# Check results 
master_df.info()

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

#### Test

[top](#Tableofcontents)

## Storing Data <a class="anchor" id="StoringData"></a>
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

[top](#Tableofcontents)

## Analyzing and Visualizing Data <a class="anchor" id="AnalyzingandVisualizingData"></a>
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

[top](#Tableofcontents)

### Insights: <a class="anchor" id="Insights"></a>
1.

2.

3.

[top](#Tableofcontents)

### Visualization <a class="anchor" id="Visualization"></a>

[top](#Tableofcontents)